.navigation-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--gray);
}

.navigation-bar__ul {
  display: flex;
  justify-content: space-between;
}
