doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/public/css/main.css")
        title Zoom Clone Coding
    body 
        header
            h1 Big Welcome
        main
            div#room
                ul.no-bullets
                form
                    div
                        input(type="text", placeholder="Enter Room Name", required)#room-name
                        input(type="text", placeholder="Enter Room Password")#room-password
                        button Enter

            div.modal-container
                div.modal
                    input(type="text", placeholder="Enter Room Password")

            div#message
                ul.no-bullets
                form
                    input(type="text", placeholder="Enter Message", required)
                    button Send

        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
